<html>
    <head>
        <title>Facebook</title>
    </head>
    <body>
        <h3>Facebook Error</h3>

        <p>
            Data mismatch (Email id provided in CAS Application do not match with that provided by Facebook).
        </p>	
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
        <script>
            $(document).ready(function () {
                demo();
            });
            function sleep(ms) {
                return new Promise(resolve => setTimeout(resolve, ms));
            }
            async function demo() {
                await sleep(3000);
                self.close();
            }
        </script>
    </body>
</html>